[Unit]
Description=AMBE Transcoder Daemon
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/sbin/rmmod ftdi_sio
ExecStartPre=-/sbin/rmmod usb_serial
# Give the VPN extra time to spin up
ExecStartPre=-/usr/bin/sleep 10 
ExecStart=/ambed/ambed {{ ambed_bind_ip }}
Restart=on-abnormal

[Install]
WantedBy=multi-user.target